.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}
.recipe ul {
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}

.method {
  text-align: left;
  line-height: 1.5em;
}

.recipe.dark {
  background: #555;
  color: #e4e4e4;
}

.recipe.dark h2 {
  color: #e4e4e4;
}

.recipe.dark .mins,
.recipe.dark li {
  color: rgb(159, 159, 159);
}
.editIcon {
  height: 20px;
  display: block;
  margin-left: auto;
}
