.navbar {
  background: #58249c;
  padding: 20px;
  color: #fff;
}

.navbar .box {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.navbar .box:hover {
  background: #fff;
  color: #333;
}

nav {
  display: flex;
  margin: 0 auto 30px;

  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: white;
  text-decoration: none;

  padding: 4px 10px;
}
